{% extends 'base.html' %}

<!-- {% block header %}
<h1 class="d-flex justify-content-center">{% block title %}App{% endblock %}</h1>
{% endblock %} -->

{% block content %}


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search-text" placeholder="Search...">
                    </div>
                    <ul class="list-unstyled chat-list mt-2 mb-0">
                    </ul>
                </div>
                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6" id="talking_user">
                            </div>
                        </div>
                    </div>
                    <div class="chat-history" style="height: 500px; overflow-y: scroll;">
                        <ul class="m-b-0" id="chat-list">
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">

                                <a href="javascript:void(0);" class="btn btn-outline-primary" id="send-button"><i
                                        class="fa fa-send"></i></a>

                                <a href="javascript:void(0);" class="btn btn-outline-primary" id="map-button"><i
                                        class="fa fa-map"></i></a>

                                <form enctype="multipart/form-data" method="post" name="fileinfo" class="img-form">
                                    <input type="file" name="img-file" id="img-file" style="display:none;">
                                    <a href="javascript:void(0);" class="btn btn-outline-primary" id="img-button"><i
                                            class="fa fa-image"></i></a>
                                </form>

                                <form enctype="multipart/form-data" method="post" name="vid-info" class="vid-form">
                                    <input type="file" name="vid-file" id="vid-file" style="display:none;">
                                    <a href="javascript:void(0);" class="btn btn-outline-primary" id="vid-button"><i
                                            class="fa fa-film"></i></a>
                                </form>

                                </form>

                            </div>
                            <input type="text" class="form-control" id="message" placeholder="Enter text here...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

</script>




{% endblock %}